body {
    background-color: black;
}

.chesstr-container {
    color: bisque;
    margin: auto;
    width: 650px;
}

.chesstr-container a {
    text-decoration: none;
    color: inherit; /* This will make the link color inherit from its parent element */
}


.challenge-container {
    background-color: rgb(60, 60, 60);
    display: flex;
    margin: auto;
    width: 650px;
    padding: 15px;
    border-radius: 8px;

}

.challenge-board {

}

.challenge-details-container {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
    margin-bottom: auto;
}

.challenge-details-title {

}

.challenge-details-status-message {

}

.challenge-details-button {

}

.selected-square {
    box-shadow: inset 0 0 3px 4px #ffeb3b;
}
