<!doctype html>

<head>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script src="{{ url_for('static', filename='chessboardjs-1.0.0/js/chessboard-1.0.0.js') }}"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='chessboardjs-1.0.0/css/chessboard-1.0.0.css') }}">
    <link rel="shortcut icon" href="{{ url_for('static', filename='img/rook.png') }}">
    <script type="module" src="{{ url_for('static', filename='chess.js') }}"></script>
    <title>chesstr</title>
</head>

<body>
    <div class="chesstr-container">
        <a href="/"><h1>Chesstr</h1></a>

        <div class="challenge-container">
            <div id="{{ challenge.id }}" class="challenge-board" style="width: 400px"></div>
            <div class="challenge-details-container">
                <p class="challenge-details-title">{{ challenge.opening }}</p>
                <p id="result{{ challenge.id }}" class="challenge-details-status-message">What's the next move?</p>
                <button id="reset{{ challenge.id }}" class="challenge-details-button" disabled>Reset</button>
                <a href="/challenge/{{ challenge.next }}"><button id="next{{ challenge.id }}" class="challenge-details-button">Next</button></a>
            </div>
        </div>

        <!-- <label>Status:</label><div id="status"></div><label>FEN:</label><div id="fen"></div><label>PGN:</label><div id="pgn"></div> -->

        <script type="module">
            import { Chess } from '/static/chess.js'

            var board = null
            var game = new Chess('{{ challenge.fen }}')
            var $status = $('#status')
            var $fen = $('#fen')
            var $pgn = $('#pgn')

            $('#reset{{ challenge.id }}').on('click', function () {
                board.position('{{ challenge.position }}');
                game = new Chess('{{ challenge.fen }}')
                $("#result{{ challenge.id }}").text("What's the next move?");
                $(this).html("Reset");
                $(this).prop('disabled', true);

            })

            function onDragStart(source, piece, position, orientation) {
                // do not pick up pieces if the game is over
                if (game.isGameOver()) return false

                // only pick up pieces for the side to move
                if ((game.turn() === 'w' && piece.search(/^b/) !== -1) ||
                    (game.turn() === 'b' && piece.search(/^w/) !== -1)) {
                    return false
                }
            }

            function onDrop(source, target) {
                try {
                    // see if the move is legal
                    var move = game.move({
                        from: source,
                        to: target,
                        promotion: 'q' // NOTE: always promote to a queen for example simplicity
                    })
                } catch (error) { // illegal move
                    console.log('snapback')
                    return 'snapback'
                }
                updateStatus()

                // Update the challenge text and reset button
                if (game.fen().split(' ')[0] == "{{ challenge.result }}") {
                    $("#result{{ challenge.id }}").text("{{ challenge.answer }}: Brilliant! Brilliant Move!");
                    $('#reset{{ challenge.id }}').html("Reset");

                } else {
                    $("#result{{ challenge.id }}").text("Wrong move. Answer: {{ challenge.answer }} .");
                    $('#reset{{ challenge.id }}').html("Try again");

                }
                $('#reset{{ challenge.id }}').removeAttr('disabled');
            }

            // update the board position after the piece snap
            // for castling, en passant, pawn promotion
            function onSnapEnd() {
                board.position(game.fen())
            }

            function updateStatus() {
                var status = ''

                var moveColor = 'White'
                if (game.turn() === 'b') {
                    moveColor = 'Black'
                }

                // checkmate?
                if (game.isCheckmate()) {
                    status = 'Game over, ' + moveColor + ' is in checkmate.'
                }

                // draw?
                else if (game.isDraw()) {
                    status = 'Game over, drawn position'
                }

                // game still on
                else {
                    status = moveColor + ' to move'

                    // check?
                    if (game.isCheck()) {
                        status += ', ' + moveColor + ' is in check'
                    }
                }
                $status.html(status)
                $fen.html(game.fen())
                $pgn.html(game.pgn())
            }

            var config = {
                draggable: true,
                position: '{{ challenge.position }}',
                onDragStart: onDragStart,
                onDrop: onDrop,
                onSnapEnd: onSnapEnd,
            }

            var board = Chessboard('{{ challenge.id }}', config)
            updateStatus()
        </script>
    </div>
</body>