<!doctype html>

<head>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script src="{{ url_for('static', filename='chessboardjs-1.0.0/js/chessboard-1.0.0.js') }}"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='chessboardjs-1.0.0/css/chessboard-1.0.0.css') }}">
    <link rel="shortcut icon" href="{{ url_for('static', filename='img/rook.png') }}">
</head>

<title>chesstr</title>
<body>


<div class="container">

    <h1>Chesstr</h1>

    {% for item in data %}
        <p>{{ item.opening }}</p>
        <div id="{{ item.id }}" style="width: 400px"></div>
        <p id="result{{ item.id }}">What's the next move?</p>
        <button id="reset{{ item.id }}" disabled>Reset</button>
        <script>
            $('#reset{{ item.id }}').on('click', function () {
                board{{ item.id }}.position('{{ item.position }}');
                $("#result{{ item.id }}").text("What's the next move?");
                $('#reset{{ item.id }}').html("Reset");
            })
            function onChange (oldPos, newPos) {
                if(Chessboard.objToFen(newPos).toString() == "{{ item.result }}")
                {
                    $("#result{{ item.id }}").text("{{ item.answer }}: Brilliant! Brilliant Move!");
                    $('#reset{{ item.id }}').html("Reset");

                } else {
                    $("#result{{ item.id }}").text("Wrong move. Answer: {{ item.answer }} .");
                    $('#reset{{ item.id }}').html("Try again");

                }
                $('#reset{{ item.id }}').removeAttr('disabled');

            }
            var config = {
                draggable: true,
                dropOffBoard: 'snapback', // this is the default
                position: '{{ item.position }}',
                onChange: onChange,
            }
            var board{{ item.id }} = Chessboard('{{ item.id }}', config)
        </script>

        <br>
        <hr>
    {% endfor %}
</div>
</body>